.button {
  padding: 12px 0 13px 0;
  display: block;
  width: 100%;
  text-align: center;
  color: $text-color-w;
  text-decoration: none;
  font-family: $first-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $general-green;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--ps {
    padding: 16px 0 16px 0;
    font-size: 20px;
    line-height: 20px;
  }

  &--gray {
    background-color: $general-gray;
    color: $text-color-4;
  }

  &--gray:hover {
    background-color: #ebebeb;
  }
}

//@media (min-width: $tablet-width) {
//  .button {
//  }
//}
