.button {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  width: 280px;
  text-align: center;
  color: $text-color-w;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $general-green;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--gray {
    background-color: $general-gray;
    color: $text-color-4;
  }

  &--gray:hover {
    background-color: #ebebeb;
  }
}
