.cat-progress__wrap-img {
  position: relative;
  margin: 0 auto;
  margin-bottom: 13px;
  width: 320px;
  height: 232px;
}

.cat-progress__img-before {
  position: absolute;
  width: 100%;
  height: 240px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.cat-progress__img-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 240px;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.cat-progress__img-before img {
  position: absolute;
  max-width: none;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
}

.cat-progress__img-after img {
  position: absolute;
  max-width: none;
  top: 0;
  right: 0;
  width: 320px;
  height: 240px;
}

.cat-progress__wrap {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-progress__btn {
  margin-left: 5px;
  font-family: $first-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color-1;
  border: none;
  background-color: $general-gray;
  cursor: pointer;
}

.cat-progress__wrap-toggle {
  position: relative;
  margin: 0 10px 0 10px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  width: 84px;
  height: 14px;
}

.cat-progress__toggle {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $general-green;
}

@media (min-width: $tablet-width) {
  .cat-progress__wrap-img {
    width: 690px;
    height: 317px;
  }

  .cat-progress__img-before {
    top: -170px;
    width: 50%;
    height: 517px;
    background: none;
  }

  .cat-progress__img-after {
    top: -170px;
    width: 50%;
    height: 517px;
    background: none;
  }

  .cat-progress__img-before img {
    width: 690px;
    height: 517px;
    left: 7px;
  }

  .cat-progress__img-after img {
    width: 690px;
    height: 517px;
    right: -7px;
  }

  .cat-progress__wrap {
    padding-top: 36px;
    padding-bottom: 70px;
  }

  .cat-progress__btn {
    margin-left: 0;
    padding: 0 0 5px 0;
    font-size: 20px;
    line-height: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }

  .cat-progress__wrap-toggle {
    margin: 0 23px;
    border: none;
    background-color: #cdcdcd;
    border-radius: 2.5px;
    width: 428px;
    height: 6px;
  }

  .cat-progress__toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $general-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .cat-progress__btn {
    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border: none;
    }
  }

  .cat-progress__toggle {
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px $general-green;
    }
  }

  .cat-progress {
    background: none;
  }

  .cat-progress__wrap-img {
    width: 650px;
  }

  .cat-progress__img-before {
    top: -190px;
  }

  .cat-progress__img-before img {
    left: -40px;
  }

  .cat-progress__img-after {
    top: -190px;
  }

  .cat-progress__img-after img {
    right: 0;
  }
}
