.how-work {
  padding: 0 20px;
}

.how-work__head {
  @include titles($margin : 0 0 33px 0);
}

.how-work__list {
  @include list-clear;
}

.how-work__item {
  @include text-desc;
  position: relative;
  padding-left: 80px;
  margin-bottom: 32px;

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
}
