.living-example {
  background-color: $general-gray;
  padding: 33px 20px 38px;
}

.living-example__head {
  @include titles($margin : 0 0 33px 0);
}

.living-example__desc {
  @include text-desc;
}

.living-example__wrap {
  display: flex;
  justify-content: space-between;
}

.living-example__parametr {
  width: 124px;
}

.living-example__value {
  margin: 0;
  padding: 17px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-1;
  border-radius: 3px;
  border: solid 1px #cdcdcd;
}

.living-example__name {
  margin: 0 auto;
  margin-top: -8px;
  margin-bottom: 25px;
  padding: 0;
  width: 87px;
  text-align: center;
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  background-color: $general-gray;
}

.living-example__expenses {
  margin: 0 0 44px 0;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-1;
  font-size: 14px;
  line-height: 20px;
}
