.living-example {
  background-color: $general-gray;
  padding-bottom: 10px;
  padding-top: 17px;
}

.living-example__header {
  @include centrator($padding: 0 21px);
  margin-bottom: 35px;
}

.living-example__title {
  @include section-title();
  @include centrator($margin: 0 auto 23px auto);
}

.living-example__desc {
  @include text-desc();
  margin: 0 0 25px 0;
}

.living-example__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.living-example__wrap-param {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 19px;
}

.living-example__value {
  margin: 0;
  padding: 13px 0 18px 0;
  width: 124px;
  color: $text-color-1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.living-example__name {
  @include text-desc($font-size: 12px, $line-height: 12px, $text-align: center);
  margin: 0 auto;
  margin-top: -10px;
}

.living-example__name span {
  display: inline-block;
  padding: 0 15px;
  background-color: $general-gray;
}

.living-example__expenses {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.living-example__expenses-title {
  margin: 0;
}

.living-example__expenses-cost {
  margin: 0;
  padding-left: 3px;
}

@media (min-width: $tablet-width) {
  .cat-progress {
    background-color: #f2f2f2;
  }

  .living-example {
    padding-top: 0;
    background-color: #ffffff;
  }

  .living-example__title {
    @include section-title($margin: 0 auto 0 auto, $font-size: 60px, $line-height: 60px);
    margin-bottom: 60px;
  }

  .living-example__header {
    margin-bottom: 205px;
  }

  .living-example__desc {
    @include text-desc($font-size: 16px, $line-height: 24px);
    padding-top: 5px;
    padding-right: 10px;
    margin-bottom: 51px;
  }

  .living-example__wrap-param {
    flex-grow: 0;
  }

  .living-example__param {
    margin-right: 42px;
  }

  .living-example__value {
    padding: 16px 0 20px 0;
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }

  .living-example__name {
    @include text-desc($font-size: 14px, $line-height: 14px, $text-align: center);
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 25px;
    padding: 0 8px;
  }

  .living-example__name span {
    display: inline-block;
    padding: 0 8px;
    background-color: #ffffff;
  }

  .living-example__name br {
    display: none;
  }

  .living-example__expenses {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12px;
    flex-grow: 0;
    width: 175px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .living-example__expenses-title {
    margin-bottom: 10px;
  }

  .living-example__expenses-cost {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .living-example__header {
    @include centrator-clear($padding: 67px 0 0 0);
    width: 435px;
  }

  .living-example__title {
    margin-bottom: 75px;
  }

  .living-example__content {
    background-color: #f2f2f2;
    flex-grow: 1;
  }

  .living-example__param:last-child {
    margin-right: 0;
  }

  .living-example__desc {
    margin-bottom: 67px;
  }

  .living-example__value {
    padding: 15px 0 19px 0;
  }

  .living-example__wrapper {
    width: 1300px;
    margin: 0 auto;
    padding: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
  }

  .living-example__name span {
    display: inline-block;
    padding: 0 8px;
    background-color: #f2f2f2;
  }

  .living-example__expenses {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    width: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .living-example__expenses-title {
    margin-right: 63px;
  }
}
