.main-nav {
  display: block;
}

.main-nav__list {
  @include list-clear;
}

.main-nav__item {
  width: 100%;
  padding: 24px 0;
  text-align: center;
  font-family: $first-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color-1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-nav__link {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-1;
}
