.page-footer {
  padding: 20px 20px 20px 20px;
}

.page-footer__logo {
  position: relative;
  padding: 20px 0 30px 0;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.page-footer__social-list {
  position: relative;
  margin: 0;
  padding: 22px 0 22px 0;
  display: flex;
  justify-content: center;
  list-style-type: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.page-footer__social-item {
  padding: 0 20px 0 20px;
}

.page-footer__made {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__made-title {
  margin: 0;
  padding: 0;
}

.page-footer__made-logo {
  margin: 0;
  padding: 0;
}

.page-footer__made-link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
