.page-header {
  background-color: #ffffff;
}

.page-header__top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__logo {
  width: 191px;
  height: 39px;
}
