.present {
  @include centrator;
  background-color: #63a73a;
  background-clip: content-box;
}

.present__title {
  position: relative;
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: 30px;
  text-align: center;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-w;

  &::before {
    position: absolute;
    content: "";
    top: -130px;
    left: 50%;
    width: 56px;
    height: 61px;
    transform: translateX(-50%);
    background-image: url("../../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .present {
    @include centrator-clear($padding: 0, $width: 100%);
  }
}

@media (min-width: $desktop-width) {
  .present {
    width: 245px;
  }
}
