.products__list {
  @include list-clear;
}

.products__item {
  border-bottom: 1px solid #cdcdcd;

  &--noborder {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .products__list {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products__wrap {
    display: flex;
    justify-content: space-between;
  }
}
