.product-item {
  padding: 25px 20px;
}

.product-item__wrap {
  display: flex;
  justify-content: space-between;
}

.product-item__name {
  margin: 0;
  width: 100px;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
}

.product-item__desc {
  width: 50%;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.product-item__parametr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
