.products__list {
  @include list-clear;
}

.products__item {
  border-bottom: 1px solid #cdcdcd;

  &--noborder {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .products {
    @include centrator;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--short {
      display: block;
      margin-bottom: 70px;
    }
  }

  .products__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .products__wrap {
    margin-bottom: 86px;
    display: flex;
    justify-content: space-around;
  }

  .products__list {
    &--short {
      margin-bottom: 0;
    }
  }
}
