.program-selection {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 20px;
  color: $text-color-w;
  text-align: center;
}

.program-selection__wrap-head {
  padding-top: 26px;
  min-height: 305px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  background-color: #63a73a;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}


.program-selection__head {
  @include centrator;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program-selection__subhead {
  @include centrator;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program-selection__button {
  @include centrator;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.program-selection__product-img {
  @include centrator;
  margin-top: -139px;
  margin-bottom: 5px;
}

.program-selection__img {
  width: 280px;
  height: 271px;
}

.program-selection__img img {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .program-selection {
    @include centrator;
    text-align: left;
  }

  .program-selection__wrap-head {
    padding-left: 87px;
    padding-top: 48px;
    min-height: auto;
    background: none;
  }

  .program-selection__head {
    @include centrator-clear;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $text-color-1;
  }

  .program-selection__subhead {
    @include centrator-clear;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    color: $text-color-1;
  }

  .program-selection__product-img {
    @include centrator-clear;
    margin-top: -80px;
    text-align: center;
  }

  .program-selection__img {
    width: 709px;
    height: 609px;
  }

  .program-selection__button {
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    @include centrator-clear($margin: -120px 0 68px 0);
    display: flex;
    justify-content: flex-end;
  }

  .program-selection__img {
    width: 552px;
    height: 499px;
    margin-left: -160px;
    margin-top: 43px;
  }

  .program-selection__wrap-head {
    @include centrator-clear;
    width: 610px;
    padding-left: 80px;
    padding-top: 223px;
    padding-bottom: 200px;
  }

  .program-selection__subhead {
    margin-bottom: 53px;
  }

  .program-selection__product-img {
    padding-top: 100px;
    width: 50vw;
    margin: 0;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    background-color: #63a73a;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }

  .program-selection__button {
    position: static;
    width: 245px;
  }
}
