.ps-form__head {
  margin-bottom: 25px;
}

.ps-form__message {
  @include centrator;
  display: block;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: $text-color-2;
}

.ps-form__name {
  @include centrator;
  margin-bottom: 22px;
}

.ps-form__label {
  color: $text-color-2;
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.ps-form__input-wrap {
  margin: 0 0 13px 0;
  display: flex;
  align-items: center;
}

.ps-form__input-txt {
  width: 100%;
  padding: 14px 40px 14px 15px;
  font-family: $first-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: $text-color-4;
  border: none;
  outline: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    outline: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;

    & + .ps-form__icon {
      fill: $general-green;
    }
  }

  &--error {
    outline: 2px solid #ff8282;

    & + .ps-form__icon {
      fill: #ff8282;
    }
  }
}

.ps-form__icon-wrap {
  position: relative;
  flex-grow: 1;
}

.ps-form__icon {
  fill: #222222;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

.ps-form__radio {
  padding-top: 10px;
  margin-bottom: 27px;
  border: 1px solid #ededed;
}

.ps-form__radio-list {
  @include list-clear;
  @include centrator;
  padding-top: 15px;
  padding-bottom: 3px;
}

.ps-form__radio-item {
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
}

.ps-form__input-radio {
  display: none;

  &:checked + .ps-form__radio-label::after {
    display: block;
  }
}

.ps-form__radio-label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -5px;
    left: 0;
    border: solid 1px #cdcdcd;
    border-radius: 50%;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    top: 4px;
    left: 9px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: $general-green;
  }

  &:hover {
    &::before {
      border: solid 1px #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.ps-form__title {
  margin-bottom: 34px;
}

.ps-form__contacts {
  @include centrator;
  margin-bottom: 27px;
}

.ps-form__comments {
  @include centrator;
  margin-bottom: 24px;
}

.ps-form__input-textarea {
  padding: 13px;
  resize: none;
  width: 100%;
  height: 150px;
  font-family: $first-font;
  font-size: 16px;
  color: $text-color-4;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  outline: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    outline: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.ps-form__addition {
  @include centrator;
  margin-bottom: 37px;
}

.ps-form__addition-list {
  @include list-clear;
  padding-top: 8px;
}

.ps-form__addition-item {
  margin-bottom: 18px;
}

.ps-form__input-check {
  display: none;

  &:checked + .ps-form__check-label::before {
    background-image: url("../../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.ps-form__check-label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -2px;
    left: 0;
    border: solid 1px #cdcdcd;
    background-image: none;
  }

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.ps-form__comment {
  @include text-desc($line-height: 16px, $text-align: center);
  margin: 0;
}

.ps-form__submit {
  @include centrator;
  margin-bottom: 32px;
}

.ps-form__bottom {
  padding: 11px 0 12px 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .ps-form {
    margin-bottom: 53px;
  }

  .ps-form__head {
    margin-bottom: 46px;
  }

  .ps-form__message {
    margin-bottom: 64px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .ps-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .ps-form__item {
    margin: 0 auto;
    width: 768px;
    margin-bottom: 75px;
    padding-left: 70px;
    padding-right: 67px;
  }

  .ps-form__name {
    @include centrator-clear;
    margin-bottom: 73px;
  }

  .ps-form__input-wrap {
    margin-bottom: 20px;
  }

  .ps-form__input-txt {
    padding: 11px 22px;
    font-size: 20px;
    line-height: 20px;
  }

  .ps-form__radio {
    @include centrator-clear($padding: 33px 0 2px 12px);
  }

  .ps-form__radio-item {
    margin-bottom: 33px;
  }

  .ps-form__radio-label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: -9px;
      left: -14px;
      border: solid 1px #cdcdcd;
      border-radius: 50%;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      top: 2px;
      left: -3px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background-color: $general-green;
    }
  }

  .ps-form__title {
    margin-bottom: 75px;
    margin-left: -40px;
  }

  .ps-form__title span {
    margin-left: 0;
  }

  .ps-form__contacts {
    padding-left: 70px;
    padding-right: 65px;
    margin-bottom: 66px;
  }

  .ps-form__input-textarea {
    padding: 11px 19px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  .ps-form__comments {
    padding-left: 70px;
    padding-right: 65px;
    margin-bottom: 60px;
  }

  .ps-form__addition {
    padding-left: 70px;
    padding-right: 65px;
    margin-bottom: 12px;
  }

  .ps-form__addition-title {
    margin-bottom: 59px;
    margin-left: -20px;
  }

  .ps-form__addition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ps-form__addition-item {
    width: 289px;
    margin-bottom: 48px;
  }

  .ps-form__check-label {
    padding-left: 58px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: 0;
    }
  }

  .ps-form__submit {
    padding-left: 70px;
    padding-right: 65px;
    display: flex;
    align-items: center;
  }

  .ps-form__bottom {
    padding: 15px 0 18px 0;
    width: 283px;
    font-size: 20px;
    line-height: 20px;
  }

  .ps-form__comment {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 0 62px;
    padding-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .ps-form {
    margin-bottom: 173px;
  }

  .ps-form__message {
    padding-left: 40px;
  }

  .ps-form__item {
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1300px;
    padding: 0 40px;
  }

  .ps-form__input-wrap:last-child {
    margin-bottom: 0;
  }

  .ps-form__name {
    margin-bottom: 0;
    width: 570px;
  }

  .ps-form__radio {
    padding: 34px 0 2px 41px;
    width: 570px;
  }

  .ps-form__radio-list {
    @include centrator-clear;
  }

  .ps-form__title {
    margin-left: -40px;
  }

  .ps-form__contacts {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 68px;
  }

  .ps-form__contacts-wrap {
    display: flex;
    justify-content: space-between;

    .ps-form__input-wrap {
      margin: 0;
      width: 570px;
    }
  }

  .ps-form__comments {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 62px;
  }

  .ps-form__addition {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 19px;
  }

  .ps-form__addition-item {
    width: 245px;
  }

  .ps-form__submit {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 78px;
  }

  .ps-form__bottom {
    width: 571px;
    margin-bottom: 0;
  }

  .ps-form__comment {
    margin: 17px 0 0 80px;
  }
}
