.show-more {
  @include centrator;
  padding-top: 25px;
  padding-bottom: 25px;
}

.show-more__plus {
  margin-bottom: 25px;
  text-align: center;
}

.show-more__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color-1;
  text-align: center;
  text-transform: uppercase;
}

.show-more__desc {
  @include text-desc($line-height: 16px, $text-align: center);
  margin: 0;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .show-more {
    @include centrator-clear($margin: 0 0 70px 0, $padding: 165px 40px 40px 40px, $width: 320px);
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }
}
