$text-color-w: #ffffff;
$text-color-1: #111111;
$text-color-2: #222222;
$text-color-4: #444444;
$text-color-6: #666666;
$general-green: #68b738;
$general-gray: #f2f2f2;
$first-font: "Oswald", "Arial", "Helvetica", sans-serif;
$second-font: "Arial", "Helvetica", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-only-width: 769px;
